<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="/css.css"/>
		<title>Bin - {{base .File.Path}}</title>
	</head>
	<body class="editorbody">
		<header>
			<b>Bin</b>
			<form action="/logout" method="post">
				<button type="submit" class="button">Log Out</button>
			</form>
			<a href="/file/{{dir .File.Path}}" class="button">Back</a>
		</header>
		<main>
			<form action="/edit/{{.File.Path}}" method="POST" id="form">
				<input name="title" id="title" value="{{base .File.Path}}">
				<div id="editor">{{toString .File.FileContents}}</div>
				<textarea hidden id="filecontents" name="filecontents"></textarea>
				<button type="submit" class="button">Save</button>
			</form>
		</main>
		<footer>
			<button id="render" class="button">Render</button>
			<div id="selectWrapper">
				<select id="renderfunc">
					{{range .RenderFuncs}}
						<option value="{{.}}">{{.}}</option>
					{{end}}
				</select>
			</div>
		</footer>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.4.6/ace.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.4.6/ext-modelist.js"></script>
<script>
const editor = ace.edit("editor")
editor.setKeyboardHandler("ace/keyboard/vim")

const form = document.getElementById("form")
function submitForm(e) {
	if (e) e.preventDefault()
	document.getElementById("filecontents").innerHTML = btoa(editor.getValue())
	form.submit()
}
ace.config.loadModule("ace/keyboard/vim", m => {
	m.CodeMirror.Vim.defineEx("write", "w", () => submitForm())
})
form.addEventListener("submit", submitForm)

const editorElement = document.getElementById("editor")
editorElement.addEventListener("keyup", e => {
	if (e.key === "Escape") {
		e.preventDefault()
	}
})
editorElement.focus()

document.getElementById("render").addEventListener("click", () => {
	const option = document.getElementById("renderfunc")
	location.pathname = `/render/${option.options[option.selectedIndex].value}/${location.pathname.substring(6)}`
})

const PAGETYPE = "TEXT"
</script>
		<script src="/userScript.js"></script>
	</body>
</html>
