<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="/css.css"/>
		<title>Bin - {{base .File.Path}}</title>
	</head>
	<body class="editorbody">
		<header>
			<b>Bin</b>
			<form action="/logout" method="post">
				<button type="submit" class="button">Log Out</button>
			</form>
			<a href="/file/{{dir .File.Path}}" class="button">Back</a>
		</header>
		<main>
			<form action="/edit/{{.File.Path}}" method="POST" id="form">
				<input name="title" id="title" value="{{base .File.Path}}">
				<div id="editor">{{toString .File.FileContents}}</div>
				<textarea hidden id="filecontents" name="filecontents"></textarea>
				<button type="submit" class="button">Save</button>
			</form>
		</main>
		<footer>
			<button id="render" class="button">Render</button>
			<div id="selectWrapper">
				<select id="renderfunc">
					{{range .RenderFuncs}}
						<option value="{{.}}">{{.}}</option>
					{{end}}
				</select>
			</div>
		</footer>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.4.6/ace.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.4.6/ext-modelist.js"></script>
		<script src="https://cdn.jsdelivr.net/gh/dankogai/js-base64@2.5.2/base64.min.js"></script> <!-- required because JS's base64 doesn't like unicode -->
<script>
const editor = ace.edit("editor")
editor.setKeyboardHandler("ace/keyboard/vim")

function editorError(str) {
	editor.state.cm.openNotification(`<span style="color: red;">${str}</span>`, {bottom: true, duration: 5000})
}
function editorSuccess(str) {
	editor.state.cm.openNotification(`<span>${str}</span>`, {bottom: true, duration: 5000})
}

const form = document.getElementById("form")
function submitForm(e) {
	if (e) e.preventDefault()
	const formData = new FormData(form)
	formData.set("filecontents", Base64.encode(editor.getValue()))
	fetch("/edit/{{.File.Path}}", {
		method: "POST",
		body: formData
	}).then(res => {
		if (!res.ok) {
			res.text().then(editorError)
		} else {
			editorSuccess("Saved.")
			if (res.redirected) {
				window.location.href = res.url
			}
		}
	}).catch(editorError)
}
ace.config.loadModule("ace/keyboard/vim", m => {
	m.CodeMirror.Vim.defineEx("write", "w", () => submitForm())
})
form.addEventListener("submit", submitForm)

const editorElement = document.getElementById("editor")
editorElement.addEventListener("keyup", e => {
	if (e.key === "Escape") {
		e.preventDefault()
	}
})
editorElement.focus()

document.getElementById("render").addEventListener("click", () => {
	const option = document.getElementById("renderfunc")
	location.pathname = `/render/${option.options[option.selectedIndex].value}/${location.pathname.substring(6)}`
})

const PAGETYPE = "TEXT"
</script>
		<script src="/userScript.js"></script>
	</body>
</html>
