<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="/css.css"/>
		<title>Bin - {{base .Path}}</title>
	</head>
	<body>
		<header>
			<b>Bin</b>
			<form action="/logout" method="post">
				<button type="submit" class="button">Log Out</button>
			</form>
			<a href="/new/{{.Path}}" class="button">New file</a>
			<a href="/file/{{dir .Path}}" class="button">Back</a>
		</header>
		<h2>Folder: {{.Path}}</h2>
		<ul>
			{{range .FolderContents}}
				<li>{{if eq .Filetype 0}}📄{{else}}📁{{end}}<a href="/file/{{.Path}}">{{.Name}}</a></li>
			{{end}}
		</ul>
	</body>
</html>
