<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="/css.css"/>
		<title>Bin - {{base .File.Path}}</title>
	</head>
	<body>
		<header>
			<b>Bin</b>
			<form action="/logout" method="post">
				<button type="submit" class="button">Log Out</button>
			</form>
			<a href="/file/{{dir .File.Path}}" class="button">Back</a>
			<a href="/new/{{.File.Path}}" class="button">New file</a>
			<button class="button" id="newFolder">New folder</button>
			<span class="divider"></span>
			<form action="/upload/{{.File.Path}}" method="post" enctype="multipart/form-data" id="upload_form">
				<label for="upload" class="button">Choose file</label>
				<span id="file_chosen"></span>
				<input type="file" name="upload" id="upload">
				<button type="submit" class="button">Upload</button>
			</form>
		</header>
		<h2>
			Folder: {{dir .File.Path}}/
			<form action="/rename/{{.File.Path}}" method="post">
				<input type="text" name="name" value="{{base .File.Path}}">
				<button class="button" type="submit">Rename</button>
			</form>
		</h2>
	<ul>
			{{range .File.FolderContents}}
			<li><a href="javascript:;" class="remove" data-filename="{{base .Path}}">❌</a> {{if eq .Filetype 0}}📄{{else}}📁{{end}}<a href="/file/{{.Path}}">{{.Name}}</a></li>
			{{end}}
		</ul>
<script>
document.getElementById("newFolder").addEventListener("click", () => {
	window.location.href = window.location.origin + "/newFolder/" + window.location.pathname.slice("/file/".length - 1) + "/" + encodeURIComponent(prompt("Enter a name for the new folder:"))
})
Array.from(document.getElementsByClassName("remove")).forEach(a => {
	a.addEventListener("click", e => {
		if (confirm(`Are you sure you want to delete ${a.id}?`)) window.location.href = window.location.origin + "/remove/{{.File.Path}}/" + a.dataset.filename
	})
})
document.querySelector("input#upload").addEventListener("change", e => {
	document.querySelector("#file_chosen").innerText = "File: " + e.srcElement.files[0].name
})
</script>
	</body>
</html>
