<!DOCTYPE html>
<html>
	<head>
		<title>Bin</title>
	</head>
	<body>
		<h1>Bin</h1>
		{{if .Logged}}
			<form action="/logout" method="POST">
				<button type="submit">Log Out</button>
			</form>
			<a href="/new">New file</a><br>
			<ul>
				{{range .Items}}
				<li><a href="/{{.Path}}">{{.Name}}</a></li>
				{{end}}
			</ul>
		{{else}}
			<h2>Log In</h2>
			<form action="/login" method="POST">
				Username: <input type="text" name="username"/><br>
				Password: <input type="password" name="password"/><br>
				<button type="submit">Log In</button>
			</form>
		{{end}}
	</body>
</html>

