<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="/css.css"/>
		<title>Bin</title>
	</head>
	<body>
		{{if .Logged}}
			<header>
				<b>Bin</b>
				<form action="/logout" method="post">
					<button type="submit" class="button">Log Out</button>
				</form>
				<a href="/new" class="button">New file</a>
			</header>
			<h2>My Bin</h2>
			<ul>
				{{range .File.FolderContents}}
					<li>{{if eq .Filetype 0}}📄{{else}}📁{{end}}<a href="/file/{{.Path}}">{{.Name}}</a></li>
				{{end}}
			</ul>
		{{else}}
			<h2>Bin - Log In</h2>
			<a href="/newUser" class="button">New Account</a><br><br>
			<form action="/login" method="POST">
				Username:<br><input type="text" name="username"/><br>
				Password:<br><input type="password" name="password"/><br>
				<br>
				<button type="submit" class="button">Log In</button>
			</form>
		{{end}}
	</body>
</html>

