<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="/css.css"/>
		<title>Bin</title>
	</head>
	<body>
		{{if .Logged}}
			<header>
				<b>Bin</b>
				<form action="/logout" method="post">
					<button type="submit" class="button">Log Out</button>
				</form>
				<a href="/new" class="button">New file</a>
				<button id="newFolder" class="button">New Folder</button>
				<span class="divider"></span>
				<form action="/upload/" method="post" enctype="multipart/form-data" id="upload_form">
					<label for="upload" class="button">Choose file</label>
					<span id="file_chosen"></span>
					<input type="file" name="upload" id="upload">
					<button type="submit" class="button">Upload</button>
				</form>
			</header>
			<h2>My Bin</h2>
			<ul>
				{{range .File.FolderContents}}
					<li><a href="javascript:;" class="remove" data-filename="{{base .Path}}">❌</a> {{if eq .Filetype 0}}📄{{else}}📁{{end}}<a href="/file/{{.Path}}">{{.Name}}</a></li>
				{{end}}
			</ul>
		{{else}}
			<h2>Bin - Log In</h2>
			<a href="/newUser" class="button">New Account</a><br><br>
			<form action="/login" method="POST">
				Username:<br><input type="text" name="username"/><br>
				Password:<br><input type="password" name="password"/><br>
				<br>
				<button type="submit" class="button">Log In</button>
			</form>
		{{end}}
<script>
document.getElementById("newFolder").addEventListener("click", () => {
	window.location = window.location.origin + "/newFolder/" + encodeURIComponent(prompt("Enter a name for the new folder:"))
})
Array.from(document.getElementsByClassName("remove")).forEach(a => {
	a.addEventListener("click", e => {
		if (confirm(`Are you sure you want to delete ${a.dataset.filename}?`)) window.location.href = window.location.origin + "/remove/" + encodeURIComponent(a.dataset.filename)
	})
})

document.querySelector("input#upload").addEventListener("change", e => {
	document.querySelector("#file_chosen").innerText = "File: " + e.srcElement.files[0].name
})
</script>
	</body>
</html>

