<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="/css.css"/>
		<script src='https://treb.app/treb/current/embedded-treb-bundle.js'></script>
		<title>Bin - {{base .File.Path}}</title>
	</head>
	<body class="editorbody">
		<header>
			<b>Bin</b>
			<form action="/logout" method="post">
				<button type="submit" class="button">Log Out</button>
			</form>
			<a href="/file/{{dir .File.Path}}" class="button">Back</a>
		</header>
		<main>
			<form action="/edit/{{.File.Path}}" method="POST" id="form">
				<input name="title" id="title" value="{{base .File.Path}}">
				<div id="editor" data-treb="" data-options="load=init"></div>
				<textarea hidden id="filecontents" name="filecontents"></textarea>
				<button type="submit" class="button">Save</button>
			</form>
		</main>
		<footer>
			<button id="render" class="button">Render</button>
			<div id="selectWrapper">
				<select id="renderfunc">
					{{range .RenderFuncs}}
						<option value="{{.}}">{{.}}</option>
					{{end}}
				</select>
			</div>
		</footer>
		<script src="https://cdn.jsdelivr.net/gh/dankogai/js-base64@2.5.2/base64.min.js"></script> <!-- required because JS's base64 doesn't like unicode -->
<script>
let sheet
function init() {
	sheet = document.querySelector("#editor")._spreadsheet
	sheet.LoadCSV("{{toString .File.FileContents}}")
}

const form = document.getElementById("form")
function submitForm(e) {
	if (e) e.preventDefault()
	const formData = new FormData(form)
	formData.set("filecontents", Base64.encode(sheet.ExportDelimited()))
	fetch("/edit/{{.File.Path}}", {
		method: "POST",
		body: formData
	}).then(res => {
		if (!res.ok) {
			res.text().then(alert)
		} else {
			console.log("Success")
			if (res.redirected && window.location.href != res.url) {
				window.location.href = res.url
			}
		}
	}).catch(e => {
		console.log("Error")
		console.log(e)
	})
}
form.addEventListener("submit", submitForm)

document.getElementById("render").addEventListener("click", () => {
	const option = document.getElementById("renderfunc")
	location.pathname = `/render/${option.options[option.selectedIndex].value}/${location.pathname.substring(6)}`
})

const PAGETYPE = "spreadsheet"
</script>
		<script src="/userScript.js"></script>
	</body>
</html>
